* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  background: #0b1020;
  color: #e5e7eb;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: #020617;
  border-bottom: 4px solid #38bdf8;
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #38bdf8;
}

nav a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
}

.menu-btn {
  font-size: 24px;
  display: none;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  line-height: 1.6;
  animation: glitch 1.5s infinite;
}

.hero p {
  margin: 32px 0;
  line-height: 1.6;
  color: #94a3b8;
}

.pixel-btn {
  padding: 16px;
  border: 4px solid #38bdf8;
  background: transparent;
  color: #38bdf8;
  cursor: pointer;
}

/* GAMES */
.games {
  width: 100%;
  background: #020617;
}

.games-cntnr {
  max-width: 1366px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
}

.games-cntnr h2 {
  margin: 32px 0;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.game-card {
  background: #020617;
  border: 4px solid #334155;
  padding: 16px;
}

.game-card img {
  width: 100%;
  image-rendering: pixelated;
  margin-bottom: 10px;
}

.game-card h3 {
  margin: 16px 0;
}

/* ABOUT */
.about {
  width: 100%;
  padding: 32px;
}

.about-cntnr {
  max-width: 768px;
  margin: 0 auto;
}

.about-cntnr h2 {
  margin: 32px 0;
  text-align: center;
}

.about-cntnr p {
  color: #94a3b8;
  line-height: 1.6;
  text-align: justify;
}

/* CONTACT */
.contact {
  padding: 32px;
  text-align: center;
  color: #e5e7eb;
}

.contact-cntnr {
  max-width: 1366px;
  margin: 0 auto;
}

.contact-cntnr h2 {
  margin: 32px 0;
}

.contact-cntnr p {
  color: #94a3b8;
  line-height: 1.6;
  margin: 32px 0;
}

.contact-grid {
  max-width: 1024px;
  display: grid;
  gap: 20px;
  margin: auto;
}

.contact-card {
  background: #0f172a;
  border: 4px solid #38bdf8;
  padding: 48px 32px;
  text-decoration: none;
  color: #fff;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.contact-card span {
  display: block;
  margin: 16px 0;
  font-family: "Press Start 2P", cursive;
}

.contact-card small {
  display: block;
  margin-top: 6px;
  color: #cbd5f5;
}

.availability {
  margin-top: 40px;
  color: #22c55e;
}

/* FOOTER */
footer {
  padding: 32px;
  text-align: center;
  background: #020617;
  border-top: 4px solid #38bdf8;
}

/* ANIMATIONS */
@keyframes glitch {
  0% {
    text-shadow: 2px 2px #38bdf8;
  }
  50% {
    text-shadow: -2px -2px #22d3ee;
  }
  100% {
    text-shadow: 2px 2px #38bdf8;
  }
}

.pixel-pop {
  animation: popIn 0.8s ease;
}

@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.pixel-fade {
  animation: fadeIn 1.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* RESPONSIVE ------------------------------------------- */

/* DESKTOP */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  /* NAV */
  .nav {
    padding: 32px;
  }

  .close-btn {
    display: none;
  }

  /*  HOME */
  .pixel-btn:hover {
    background: #38bdf8;
    color: #000;
  }

  /* CONTACT */
  .contact-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 0 #38bdf8;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  /* NAV */
  .nav {
    padding: 32px;
  }

  .close-btn {
    display: none;
  }

  /*  HOME */

  /* CONTACT */
  .contact-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }

  /* NAV */
  .nav {
    padding: 24px;
  }

  nav {
    display: none;
    background-color: #38bdf8;
    position: absolute;
    top: 0;
    right: -100%;
    flex-direction: column;
    gap: 32px;
    z-index: 999;
    width: 80vw;
    height: 80vh;
    padding: 24px;
    justify-content: left;
    align-items: start;
    transition: 0.4s ease;
    font-size: 16px;
  }

  .close-btn {
    background-color: transparent;
    color: #fff;
    border: 0;
    font-size: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
  }

  .menu-btn {
    display: block;
  }

  /*  HOME */
  .hero {
    padding: 24px;
  }

  /* CONTACT */
  .contact-grid {
    grid-template-columns: 1fr;
  }
}
